#id-events {
  text-align: center;
    margin-bottom: 173px;

  .header-container {
    margin-bottom: 42px;
  }

  .header-text {
    margin: auto;
    width: 600px;
    max-width: 70%;
    font-family: PingFangSC;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #333333;
  }
  .events-container {
    margin: auto;
    width: 960px;
    max-width: 95%;
    margin-bottom: 49px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
  }
  .event-container {
    display: block;
    font-size: 30px;
    line-height: 1.38;
    text-align: left;
    color: #333333;
    border-bottom: 1px solid #eee;
    padding: 41px 0 15px;
  }
  .event-info {
    font-size: 18px;
    font-weight: 300;
    line-height: 2.31;
    color: #999999;
  }
  .event-time {
    float: right;
  }

  .event-container.active {
    color: #40cb93;
  }

  .events-toggle {
    position: relative;
  }
  .events-toggle-img {
    // width: 37px;
    // height: 37px;
    position: absolute;
    left: 50%;
    transform: translate(-50%) rotate(0deg);
    transition: 0.5s;
  }
}
