* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333
}

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.heading-section {
  border-style: none;
  border-width: 2px 10px 2px 2px;
  border-color: #000 #000 #36cc92;
  font-family: Poppins, sans-serif;
  color: #21325e;
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
  text-align: left;
  margin: 20px .67em 8px .67em;
}

.hr-line {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 2px;
  margin-bottom: 24px;
  background-image: -webkit-linear-gradient(270deg, #36cc92, #36cc92);
  background-image: linear-gradient(180deg, #36cc92, #36cc92);
  text-align: left;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .heading-section {
    text-align: center;
    text-indent: 30px;
  }
}

@media (max-width: 479px) {
  .heading-section {
    text-indent: 0px;
  }
}
