* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333
}

.w-clearfix, .clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
