.hero-section {
  height: 730px;
  background-image: url("../images/background.jpg"), -webkit-linear-gradient(270deg, #21325e, #21325e);
  background-image: url("../images/background.jpg"), linear-gradient(180deg, #21325e, #21325e);
  background-position: 50% 50%, 0 0;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;

  .header-nav {
    padding-left: 20px;
    padding-right: 20px;

    .logo {
      float: left;

      a {
        display: inline-block;
      }
    }

    .main-nav {
      float: right;
      margin-top: 30px;
    }

    &:before, &:after {
      content:" ";
      display: table;
    }

    &:after {
      clear:both;
    }

    .nav-item {
      margin-right: 50px;
      font-family: Inconsolata, monospace;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      color: #ffffff;
    }

    .menu-active {
      color: #36cc92;
      font-weight: 700;
    }
  }

  .inner-container {
    margin-left: auto;
    margin-right: auto;

    .hero-heading {

    }

    .heading {
      margin-top: 100px;
      margin-bottom: 48px;
      font-family: Poppins, sans-serif;
      color: #fff;
      font-size: 44px;
      font-weight: 600;
      text-align: center;

      line-height: 44px;
    }

    .hero-button {
      text-align: center;
    }

    .community-button {
      display: inline-block;
      padding: 9px 15px;
      background-color: #3898EC;
      color: white;
      text-decoration: none;
      cursor: pointer;
      height: 48px;
      margin-right: 16px;
      border: 1px solid #fff;
      border-radius: 4px;
      background-color: hsla(0, 0%, 100%, 0);
      font-family: Inconsolata, monospace;
      line-height: 30px;
      font-weight: 400;
    }

    .whitepaper-button {
      display: inline-block;
      color: white;
      border: 0;
      text-decoration: none;
      cursor: pointer;
      width: 180px;
      height: 48px;
      margin-right: 16px;
      padding: 12px 15px 9px;
      border-radius: 4px;
      background-color: #36cc92;
      font-family: Inconsolata, monospace;
      line-height: 24px;
      font-weight: 700;
      text-align: center;
    }
  }

  @media (max-width: 991px) {
    height: 600px;
    .inner-container {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
