header.main-header.header {
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  height: 80px;
  background-image: -webkit-linear-gradient(270deg, #21325e, #21325e);
  background-image: linear-gradient(180deg, #21325e, #21325e);

  .menu-active {
    color: #fff;
    font-weight: normal;
  }

  @media (max-width: 991px) {
    height: 80px
  }

  @media (max-width: 767px) {
    height: 150px;
  }

  @media (max-width: 479px) {
    height: 130px;
  }
}
