.partner {
  .inner-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }

  .advisors-section {
    margin-top: 40px;
  }

  .heading-section {
    margin-bottom: 8px;
    border-style: none;
    border-width: 2px 10px 2px 2px;
    border-color: #000 #000 #36cc92;
    font-family: Poppins, sans-serif;
    color: #21325e;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    text-align: left;
  }

  h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .hr-line {
    margin-left: auto;
    width: 30px;
    height: 2px;
    margin-right: auto;
    margin-bottom: 24px;
    background-image: -webkit-linear-gradient(270deg, #36cc92, #36cc92);
    background-image: linear-gradient(180deg, #36cc92, #36cc92);
    text-align: left;
  }

  .partner-col {
    padding-left: 0;
  }

  .w-row {
    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
  }

  .column {
    margin-bottom: 63px;
    position: relative;
    float: left;
    //width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .link-block {
    float: right;
  }

  .image-6 {
    width: 250px;
    height: auto;
    margin-right: 0;
    padding-right: 15px;
    float: none;
  }

  .image-7 {
    border: 0;
    width: 250px;
    margin-top: 0px;
    padding-left: 15px;
  }

  @media (max-width: 991px) {
    .inner-container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }

    .column {
      width: 50%;
    }
  }
}
