---
title: "About"
---

<%= partial "shared/header" %>

<div class="core-feature">
  <div class="n-container">
    <div>
      <h1 class="heading-section">About Us</h1>
      <div class="hr-line hr-line-left"></div>
      <p class="content-text">
          <span>Nervos is a next generation blockchain network.
            <br>
            <br>Our team is a diverse group with backgrounds in engineering, research, cryptography, and business - based in
            China and the United States. We are all passionate about decentralized technology and the impact it will have
            on the world.</span>
      </p>
    </div>
  </div>
</div>

<%= partial "shared/team" %>
<%= partial "shared/subscription" %>
<%= partial "shared/footer" %>
