<div id="partner" class="partner">
  <div class="container">

    <div class="advisors-section">
      <h1 class="heading-section">Strategic Partners</h1>
      <div class="hr-line"></div>
    </div>

    <div class="main-core">
      <div class="partner-row clearfix">

        <div class="column clearfix">
          <a href="http://english.cmbchina.com/" target="_blank" class="link-block inline-block">
            <img src="<%= image_path('partners/cmb.png') %>" class="left-image">
          </a>
        </div>

        <div class="column">
          <a href="https://www.cryptape.com/#/" target="_blank" class="inline-block">
            <img src="<%= image_path('partners/cryptape.png') %>" class="right-image">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
