---
title: "Career"
---


<%= partial "header" %>

<div class="core-feature contact">
  <div class="n-container">
    <h1 class="heading-section heading-inner">Career</h1>
    <div class="hr-line"></div>
    <div class="contact-page">
      <div class="row clearfix">
        <div class="col clearfix">
          <p class="faq-heading heading-car">
            Join Nervos in making decentralization a reality.
          </p>
          <h1 class="faq-heading heading-car">
            Mail to: careers@nervos.org
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "subscription" %>
<%= partial "footer" %>
