<div class="subscription">
  <div class="container">
    <div class="subscription-block clearfix">

      <a href="http://nervos.org/partner-with-us" class="partner-button">
        PARTNER WITH US
      </a>

      <div class="form-block clearfix">
        <form id="email-form" name="email-form" data-name="Email Form" action="https://nervos.us18.list-manage.com/subscribe/post?u=2ca40f7277e9b778c24f9aaaf&amp;amp;id=afeeb0c7e3"
              method="post" class="form clearfix">
          <input type="text" class="email-field" maxlength="256" name="email" data-name="Email" placeholder="Enter your email"
                 id="email" required="">
          <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button">
        </form>
        <div class="form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
</div>
